body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    background-color: #f5f7fb;
    background-image: url(images/blob5.png), url(images/blob6.png);
    background-repeat: no-repeat;
    background-position: 100% 0%, 0% 100%;
    background-size: 500px;
    height: 100vh;
}

.body-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.start-wrapper {
    margin-top: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hikori {
    position: absolute;
    opacity: .4;
    border-radius: 0 0 500px 0;
    top: 0%;
    left: -5%;
    z-index: -1;
}

.hikori2 {
    position: absolute;
    opacity: .4;
    border-radius: 500px 0 0 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.title,
.description {
    color: #293264;
}

.title {
    font-size: 5rem;
}

.description {
    font-size: 1.8rem;
}

.start-btn {
    background-color: #4d5b9e;
    color: white;
    padding: 15px 50px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.5rem;
}

.start-wrapper>* {
    margin: 20px;
}

.question-wrapper {
    margin: 100px;
    width: 70%;
}

.indiv-question {
    border-bottom: 1px solid #e1e4f2;
}

.questions {
    color: #293264;
    font-size: 2rem;
}

.choices-flexbox {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.choices-flexbox>div {
    border: 1px solid #4d5b9e;
    border-radius: 15px;
    font-weight: bold;
    color: #293264;
    margin-bottom: 40px;
    cursor: pointer;
    text-align: center;
    padding: 1% 3%;
}

.choices-flexbox>div:hover {
    background-color: #d6dbf5;
    border: 1px solid white;
}

.check_answer_btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.check_answer_btn {
    margin-top: 20px;
    background-color: #4d5b9e;
    color: white;
    padding: 15px 50px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.5rem;
}

.score {
    margin-top: 35px;
}

.loading-wrapper {
    margin-top: 40%;
}

.loading-wrapper img {
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    .body-wrapper {
        width: 100%;
    }
    .questions {
        font-size: 1rem;
    }
    .question-wrapper {
        margin: 10px;
    }
    .choices-flexbox {
        display: grid;
        gap: 10px;
    }
    .choices-flexbox>div {
        border: 1px solid #4d5b9e;
        border-radius: 8px;
        margin-bottom: 10px;
        width: auto;
        padding: 1.8% 0;
        background: rgba(256, 256, 256, .8)
    }
    .hikori,
    .hikori2 {
        height: 20%;
    }
    .start-wrapper {
        margin-top: 60%;
    }
    .loading-wrapper img {
        margin-top: 45%;
        height: 300px;
        border-radius: 10%;
    }
    .check_answer_btn-wrapper {
        font-size: 0.7rem;
        flex-direction: column;
        margin-top: 0;
    }
    .score {
        margin: 20px 0 0 0;
    }
    .check_answer_btn {
        font-size: 0.9rem;
        margin: 0;
    }
}